
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15%;
    padding: 20px;
    border-radius: 30%;
    background-size: cover;
    background-position: center;
    color: #333;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px #333333;
    margin: auto;
    width: 80%;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

label {
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s;
}

button {
    padding: 10px 15px;
    background-color: #27ae5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    align-content: center;
    transition: transform 0.2s;
}

button:hover {
    background-color: #ffffff;
    opacity: 85%;
    color: #2980b9;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    text-align: center;
}
